<p id="notice"><%= notice %></p>

<%= link_to '<span>Chatrooms</span>'.html_safe, chatrooms_path, method: :get, remote: true%>&nbsp;<b>|</b>&nbsp;<%= link_to '<span>Users</span>'.html_safe, all_users_chatrooms_path, method: :get, remote: true%>
<br>
<%=link_to "Logout",destroy_user_session_path,method: :delete,class:"btn btn-outline-danger" if current_user%>
<div id="chatrooms">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.name %></td>
        <td><%= link_to 'Show', chatroom %></td>
        <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
        <td><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post %></td>
        <td><%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Chatroom', new_chatroom_path %>
